.footer-container {
    display: flex;
    flex-direction: column;


}

.footer-info {
max-width: 264px;
display: flex;
gap: 16px;
flex-direction: column;

}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-logo {
    color: #4D5AE5;
}

.footer-text {
    color: #F4F4FD;

}